// Logo
.logo {
	&__icon {
		width: 7.2rem;
		height: 3.2rem;
	}
}

// GAME START SECTION
.game-start {
	text-align: center;
	max-width: 90%;
	
	animation: fadeIn 1s ease-in-out;

	&__choices {
		margin: 4rem 0;
		background-color: #3b1f52; // bg-secondary
		padding: 2.4rem;
		border-radius: 1.5rem;
		box-shadow: inset 0 -0.8rem 0 darken(#3b1f52, 10);
	}

	&__marks {
		margin: 2.4rem 0 1.7rem;
		padding: 0.9rem 0.8rem;
		background-color: #2a1538; // bg-main
		border-radius: 1rem;
		display: flex;
		height: 7rem;
		align-items: center;
		justify-content: space-between;
	}

	&__x-mark,
	&__o-mark {
		width: 100%;
		height: 100%;
		border-radius: inherit;
		transition: all 0.4s ease;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-basis: 50%;

		&:hover {
			background-color: lighten(#2a1538, 4);
			cursor: pointer;
		}

		&.selected {
			background-color: #f3e9ff; // text-main

			svg {
				fill: #2a1538;
			}
		}
	}

	&__x-icon,
	&__o-icon {
		width: 3.2rem;
		height: 3.2rem;
		fill: #f3e9ff;
	}

	&__footer {
		text-transform: uppercase;
		opacity: 0.6;
		color: #f3e9ff;
	}
}

// BUTTONS
.btn {
	display: block;
	width: 100%;
	font-size: 2rem;
	font-weight: 700;
	color: #2a1538;
	text-transform: uppercase;
	text-align: center;
	padding: 2.5rem 12rem;
	border-radius: 1.5rem;
	transition: all 0.3s ease;

	@include respond(small) {
		font-size: 1.6rem;
	}

	&:hover {
		cursor: pointer;
	}

	&--small {
		width: auto;
		display: inline-block;
		padding: 1.5rem 1.8rem;

		&:last-child {
			margin-left: 1rem;
		}
	}

	&:not(:last-child) {
		margin-bottom: 1.5rem;
	}

	&--yellow {
		background-color: #f5c542; // accent-o
		box-shadow: inset 0 -0.8rem 0 darken(#f5c542, 20);

		&:hover {
			background-color: #ffd966;
		}
	}

	&--blue {
		background-color: #9d4edd; // accent-x
		box-shadow: inset 0 -0.8rem 0 darken(#9d4edd, 20);

		&:hover {
			background-color: #b86bff;
		}
	}

	&--silver {
		background-color: #f3e9ff;
		box-shadow: inset 0 -0.8rem 0 darken(#f3e9ff, 15);

		&:hover {
			background-color: #ffffff;
		}
	}
}

// GAMEPLAY
.gameplay {
	display: none;
	margin: 5rem 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
	text-align: center;
	animation: fadeIn 0.4s ease-in-out;

	&__turn {
		background-color: #3b1f52;
		padding: 2rem 3rem;
		border-radius: 1rem;
		box-shadow: inset 0 -0.4rem 0 darken(#3b1f52, 10);
		display: flex;
		align-items: center;

		&-icon {
			width: 2rem;
			height: 2rem;
			fill: #f3e9ff;
		}
	}

	&__restart {
		width: 50%;
		background-color: #f3e9ff;
		padding: 1.6rem;
		border-radius: 1rem;
		box-shadow: inset 0 -0.4rem 0 darken(#f3e9ff, 15);
		justify-self: flex-end;

		&:hover {
			background-color: #ffffff;
			cursor: pointer;
		}
	}

	&__board {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: repeat(3, 14rem);
		grid-template-rows: repeat(3, 14rem);
		gap: 2rem;
	}

	&__card {
		background-color: #3b1f52;
		padding: 3.8rem;
		border-radius: 1.5rem;
		box-shadow: inset 0 -0.8rem 0 darken(#3b1f52, 10);

		&:hover {
			cursor: pointer;
		}

		&.x,
		&.o {
			cursor: not-allowed;
		}

		&.x::before {
			content: url('../images/SVG/icon-x.svg');
		}

		&.o::before {
			content: url('../images/SVG/icon-o.svg');
		}

		&.x.win {
			background-color: #9d4edd;
			box-shadow: 0 0 25px rgba(157, 78, 221, 0.6);

			&::before {
				content: url('../images/SVG/icon-x-win.svg');
			}
		}

		&.o.win {
			background-color: #f5c542;
			box-shadow: 0 0 25px rgba(245, 197, 66, 0.6);

			&::before {
				content: url('../images/SVG/icon-o-win.svg');
			}
		}
	}
}

// MODAL
.modal {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	padding: 6.7rem 0;
	background-color: #3b1f52;
	transform: translateY(-50%);
	text-align: center;
	display: none;
}
